.detail-background {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.detail__film-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.detail__film-tab .ant-tabs-nav::before {
    border-bottom: 0!important;
}

.detail__film-tab .ant-tabs-tab-active .ant-tabs-tab-btn .detail__film-info {
    color: rgb(239 68 68)!important;
}

.detail-popup {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    color: white;
    top: -100%;
    left: 0;
    opacity: 0;
}

.detail-popupImg:hover>.detail-popup {
    opacity: 1;
    top: 0;
    left: 0;
    transition: all 0.5s;
}